# Copy this file to `.env` and fill in the secrets before starting the server.
VAPID_PUBLIC_KEY=BAf1NArKW908JYRuw8FQr6deEFeqJEI3Vpjg2izq9dhnY2po5rxA_geyBS3INhHHJe1-1USABczT53jDSnwqvXM
VAPID_PRIVATE_KEY=MLMp1_fNG6P5Fjk4PLLCC0O9TPZ9tD7R5pl4LCc5lAE
VAPID_CONTACT_EMAIL=you@example.com
PORT=3333
